* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f5f7;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
}

.top-bar {
    height: 100px; /* Ajusta la altura de la barra superior */
    background-color: #b0c4de; /* Color de fondo azul */
    margin-bottom: 0px; /* Espacio entre la barra y la primera línea roja */
}

.header {
    height: 100px;
    background-color: #a60e3c;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    background-color: #a60e3c;
}

.large {
    height: 80px;
}

.medium {
    height: 80px;
}

.box-row {
    display: flex;
    gap: 10px;
}

.small {
    flex: 1;
    height: 80px;
}

.thick {
    height: 70px; /* Bloque más grueso al final */
    margin-top: 20px; /* Separación adicional */
}
